<!-- emmet -->
<form action="/crear-noticia"
      method="POST">

    <div>
        <label for="titulo">Titulo</label>
        <input id="titulo" name="titulo" type="text">
    </div>

    <div>
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion"
                  name="descripcion"
                  cols="30" rows="4"></textarea>
    </div>

    <button>Crear noticia</button>

</form>

<a href="/inicio">
    <button>Regresar</button>
</a>