<!-- ememmet-->
<form action="/crear-noticia " method="POST">

    <div>
        <label for="titulo">Titulo</label>
        <input id="titulo"  name=" titulo" type="text">
        <label for="">Descripcion</label>

    </div>

    <div>
        <textarea name="" id="descripcion" cols="30" rows="4"></textarea>


    </div>
<button>Crear noticia</button>
</form>
<a href="/inicio"></a>
<button>Regresar</button>
