<form action=""> <!--en un formulario se tiene titulo y descripcion-->
    <!--y a parte de esto tambien tinen cuador  de texto donde se puede seleccionar las cosas-->

    <input type="crear-noticia">
    <h1>Pagina de Noticia </h1>
</form>