<form action="/crear-noticia" method="post"> <!--en un formulario se tiene titulo y descripcion-->
    <!--y a parte de esto tambien tinen cuadro  de texto donde se puede seleccionar las cosas-->
    <div>
        <label for="titulo">Titulo</label>
        <input id="titulo" name="titulo" type="text">
        <!--  en un INPUT se puede escribir  Y a lado de un input SIEMRE hay un LABEL-->
    </div>
    <br>
    <div>
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" cols="30" rows="4"></textarea>

    </div>

    <button>Crear noticia</button>

</form>
