<div class="card">
    <img src="<%= imagen %>" class="card-img-top">

    <div class="card-body">
        <h5 class="card-title">
            <%= nombre %>
        </h5>
        <p class="card-text">
            <%= correo %>
        </p>
        <a href="#" class="btn btn-primary">
            Ir a perfil
        </a>
    </div>

</div>