<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link active" href="http://localhost:3000/inicio">Inicio</a>
        <a class="nav-item nav-link" href="http://localhost:3000/register">Registrar usuario</a>
        <a class="nav-item nav-link" href="http://localhost:3000/login">Iniciar Sesión</a>
        <a class="nav-item nav-link" href="http://localhost:3000/addroles">Agregar Roles</a>
        <a class="nav-item nav-link" href="http://localhost:3000/tablaeventos">Tabla de  Roles</a>
      </nav>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <br>
            <br>
            <br>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                    </tr>
                    <tr>
                        <td>nombre</td>
                    </tr>
                    <tr>
                        <td>correo</td>
                    </tr>
                    <tr>
                        <td>fecha nacimiento</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <br>
            <br>
            <br>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Roles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>


                    </tr>
                    <tr>
                        <td>Administrador</td>
                    </tr>
                    <tr>
                        <td>Usuario</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <br>
            <br>
            <br>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Roles
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                <button type="button" class="btn btn-success">Añadir rol</button>
            </div>
        </div>
    </div>