<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link active" href="http://localhost:3000/inicio">Inicio</a>
        <a class="nav-item nav-link" href="http://localhost:3000/register">Registrar usuario</a>
        <a class="nav-item nav-link" href="http://localhost:3000/login">Iniciar Sesión</a>
        <a class="nav-item nav-link" href="http://localhost:3000/addroles">Agregar Roles</a>
      </nav>