<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link active" href="http://localhost:3000/inicio">Inicio</a>
        <a class="nav-item nav-link" href="http://localhost:3000/register">Registrar usuario</a>
        <a class="nav-item nav-link" href="http://localhost:3000/login">Iniciar Sesión</a>
        <a class="nav-item nav-link" href="http://localhost:3000/addroles">Agregar Roles</a>
        <a class="nav-item nav-link" href="http://localhost:3000/tablausuariosconrol">Tabla de  Roles</a>
        <a class="nav-item nav-link" href="http://localhost:3000/tablaeventos">Tabla de  Eventos</a>
        <a class="nav-item nav-link" href="http://localhost:3000/registroSO">Registro de Sistema Operativo</a>
        <a class="nav-item nav-link" href="http://localhost:3000/registroAplicacion">Registro Aplicacion</a>
      </nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <strong>
                <label class="checkbox-inline">BUSCAR</label>
            </strong>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-success">Buscar</button>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
            <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <button type="button" class="btn btn-primary">Actualizar</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>