<h1><%= usuario %></h1> <!--//la variable que nos llega es usuario-->
<!--//<%=   %> es una etiqueta con% lo que va dentro es javascript
//el = hace referncia a una variable-->
<% var apellido = 'Salazar'; %>
<h2> <%= apellido %> </h2>
<ul>
    <% arreglo.forEach( %>
    <% (numero)=>{ %>

    <li> <%= numero %> </li>

    <% }) %>

</ul>

